.tooltip {
    position:relative; 
    width: 180px;
    height: 60px;
    padding: 6px;
    padding-top: 2px;
    font: 11px Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    background: #5f4785;
    border: 0;
    border-radius: 10px;
  }
  
  .axisText {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    fill: #080808;
    font-size: larger;
    text-anchor: middle;
  }
  